*{box-sizing: border-box;}
/*오늘의 포인트*/

.header {
	background-color: red;
	height: 50px;
}

.content {
	background-color: skyblue;
	height: 500px;
	overflow: hidden;
	/*오늘의 포인트*/
}

.wrapper1 {
	background-color: crimson;
	height: 500px;
	width: 33.3%;
	float: left;
	padding-top: 100px;

}

.wrapper2 {
	background-color: orange;
	height: 500px;
	width: 33.3%;
	float: left;
	padding-top: 100px;
}

.wrapper3 {
	background-color: pink;
	height: 500px;
	width: 33.3%;
	float: left;
	padding-top: 100px;
}

.left {
	background-color: orange;
	height: 300px;
	width: 100px;
	margin: 0 auto;
	/*--margin-top: 100px;*/
}

.center {
	background-color: pink;
	height: 300px;
	width: 100px;
	margin: 0 auto;
}

.right {
	background-color: crimson;
	height: 300px;
	width: 100px;
	margin: 0 auto;
}